*.pyc
*.json
*.bak
*.svg
*.png
*.csv
!auv_*archive.svg
!legend.svg
archive/
charge/
startcharge.csv
.nova
*.gif
*-archive
older_examples/
esp_daphne-archive.svg
esp_brizo-archive.svg
esp_pontus-archive.svg
hovertest.html
hovertest2.hyperesources/
map.txt
migrateissues.py
old-auvstatus-2.7.py
auv_sim.svg
