*.pyc
*.json
*.bak
*.svg
*.png
*.csv
!*archive.svg
!legend.svg
charge/startcharge.csv
charge/settings.py
charge/chargepoint.py
charge/chargepoint2.py
charge/*
startcharge.csv
.nova
*.gif
*-archive
older_examples
esp_daphne-archive.svg
esp_pontus-archive.svg
hovertest.html
hovertest2.hyperesources/
map.txt
migrateissues.py
old-auvstatus-2.7.py

